@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* xóa tăng giảm default input type=number */
.inputNumber input[type="number"]::-webkit-inner-spin-button,
.inputNumber input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.a {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@keyframes expand {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}
@keyframes collapse {
  0% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 50%;
  }
}
.underline-effect {
  position: relative;
  display: inline-block;
}
.underline-effect::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #4b5563;
}
.underline-effect:hover::after {
  animation: expand 0.3s forwards;
}
.underline-effect::after {
  animation: collapse 0.3s forwards;
}

